{% extends "base.html" %}

{% block announce %}
  How's school? A new <a href=https://gillian-guide.github.io/drag-and-drop-archive/>Drag-and-Drop Archive</a> version is available with a lot of fixes.<br><br>
  I've also been suffering with my PC lately, so I'd appreciate <a href=https://gillian-guide.github.io/resources/credits>some monetary help a lot</a> (make sure to donate to the mod devs too!)
{% endblock %}

{% block extrahead %}
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">
{% endblock %}