{% extends "base.html" %}

{% block announce %}
  New <a href=https://gillian-guide.github.io/essential-modding/fusionfix/>FusionFix</a> version is available <b>now</b> with a lot of changes to the game! With the occasion, I have completely overhauled the website.<br>
  A new <a href=https://gillian-guide.github.io/drag-and-drop-archive/>Drag-and-Drop Archive</a> version is available <b>now</b> too!<br><br>
  I've also been suffering with my PC lately, so I'd appreciate <a href=https://gillian-guide.github.io/resources/credits>some monetary help a lot</a> (make sure to donate to the mod devs too!)
{% endblock %}

{% block extrahead %}
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">
{% endblock %}