{% extends "base.html" %}

{% block announce %}
  January 26th: I tried adding Potential Grim to the Archive. For every bug report I'll eat a nice burger because I don't like suffering.<br><br>
  This is a profit-free resource - consider <a href=https://gillian-guide.github.io/resources/credits>supporting the author and mod developers</a>.
{% endblock %}

{% block extrahead %}
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">
{% endblock %}