site_name: Gillian's Modlists
site_url: https://gillian-modlists.github.io/
copyright: Copyright &copy; 2023.

plugins:
  - search
  - glightbox
  - social
        
theme:
  name: material
  palette:
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: black
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

  logo: assets/logo-horizontal.png
  favicon: assets/logo-favicon.png
  features:
    - toc.integrate
    - navigation.expand
    - navigation.indexes
    - navigation.top
    - content.tabs.link
    - content.tooltips
    - content.code.copy
    - content.code.annotate 
    - search.share

markdown_extensions:
  - toc:
      permalink: "#"
  - md_in_html
  - admonition
  - tables
  - attr_list
  - def_list
  - pymdownx.superfences
  - pymdownx.details
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.caret
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.snippets
  - pymdownx.keys
  - pymdownx.tabbed:
      alternate_style: true 
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true


nav:
    - "index.md"
    - "credits.md"
    - "troubleshooting.md"
    - "contact-me.md"

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/gillian-modlists/gillian-modlists.github.io/issues
      name: If you have concerns about the page, post them on the GitHub issues page.
    - icon: fontawesome/brands/discord
      link: https://discord.gg/zwmsQqExbQ
      name: My Discord server.
  analytics:
    provider: google
    property: G-CK7DHRFFWQ
  consent:
    title: Cookie consent
    description: >- 
      I use cookies to recognize your repeated visits and preferences, as well
      as to measure the effectiveness of my guide and whether users
      find what they're searching for. With your consent, you're helping me to
      make my guide better.
