site_name: Gillian's Peppa Pig World Adventures Modding Guide
site_url: https://gillian-guide.github.io/
copyright: >
  Copyright &copy; 2021 - 2024 Gillian - <a href="#__consent"><u>Change cookie settings</u></a>.
  This website is not affiliated with Petoons Studio, Outright Games, Rockstar Games, Rockstar North, or Take-Two Interactive.

repo_url: https://github.com/gillian-guide/gillian-guide.github.io
repo_name: Website's repository

plugins:
  - i18n:
      docs_structure: folder
      fallback_to_default: true
      languages:
        - build: true
          default: true
          locale: en
          name: English
        - build: true
          default: false
          locale: ru
          name: Русский
      reconfigure_material: true
      reconfigure_search: true
  - search
  - glightbox
  - social
  - privacy

theme:
  name: material
  palette:
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: purple
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: purple
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

  logo: assets/logo-horizontal.webp
  favicon: assets/iv-logo-favicon.webp
  icon:
    repo: fontawesome/brands/github
  features:
    - toc.integrate
    - navigation.expand
    - navigation.indexes
    - navigation.top
    - content.tabs.link
    - content.tooltips
    - content.code.copy
    - content.code.annotate
    - search.suggest
    - search.highlight
    - search.share
    - content.action.edit

markdown_extensions:
  - toc:
      permalink: "#"
  - md_in_html
  - admonition
  - tables
  - attr_list
  - def_list
  - pymdownx.superfences
  - pymdownx.details
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.caret
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.snippets
  - pymdownx.keys
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true


nav:
  - Introduction:
    - "index.md"
    - "credits.md"
    - "support.md"
    - "troubleshooting.md"
    - "contact-me.md"
  - "drag-and-drop-archive.md"
  - "optimization.md"
  - "additional-setup.md"
  - "downgrading.md"
  - "mod-dependencies.md"
  - Essential Modding:
    - "essential-modding/index.md"
    - "essential-modding/fusionfix.md"
    - "essential-modding/zolikapatch.md"
    - "essential-modding/variousfixes.md"
    - "essential-modding/libertytweaks.md"
    - "essential-modding/charactersfixes.md"
    - "essential-modding/consolevisuals.md"
    - "essential-modding/project2dfx.md"
  - Extras:
    - "extras/index.md"
    - "multiplayer.md"
    - "extras/trainers.md"
    - "extras/launcher.md"
    - "extras/openiv.md"
    - "extras/modloading.md"
    - "extras/mods.md"

extra:
  social:
    - icon: fontawesome/brands/discord
      link: https://discord.gg/zwmsQqExbQ
      name: My Discord server
  analytics:
    provider: google
    property: G-RSQFR3F839
  consent:
    title: Cookie consent
    description: >-
      This site uses cookies for Google Analytics,
      which are used to recognize your repeated visits and preferences.
      They are not mandatory and you can disable it if you wish so.
