site_name: Gillian's GTA IV Modding Guide
site_url: https://gillian-guide.github.io/
copyright: >
  Copyright &copy; 2021 - 2024 Gillian - <a href="#__consent"><u>Change cookie settings</u></a>.
  This website is not affiliated with Rockstar Games, Rockstar North, or Take-Two Interactive.

repo_url: https://github.com/gillian-guide/gillian-guide.github.io
repo_name: Website's repository

plugins:
  - i18n:
      docs_structure: folder
      fallback_to_default: true
      languages:
        - locale: en
          default: true
          name: English
          build: true
        - locale: ru
          name: Русский
          build: true
      reconfigure_material: true
      reconfigure_search: true
  - search
  - glightbox
  - social
  - privacy

theme:
  name: material
  custom_dir: overrides
  palette:
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: black
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

  logo: assets/logo-no-modding.webp
  favicon: assets/iv-logo-favicon.webp
  icon:
    repo: fontawesome/brands/github
    admonition:
      quote: material/clipboard-text
  features:
    - toc.integrate
    - navigation.expand
    - navigation.indexes
    - navigation.top
    - content.tabs.link
    - content.tooltips
    - content.code.copy
    - content.code.annotate
    - search.suggest
    - search.highlight
    - search.share
    - content.action.edit
    - announce.dismiss

markdown_extensions:
  - toc:
      permalink: "#"
  - md_in_html
  - admonition
  - tables
  - attr_list
  - def_list
  - abbr
  - pymdownx.superfences
  - pymdownx.details
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.caret
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.snippets
  - pymdownx.keys
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.snippets:
      auto_append:
        - includes/abbreviations.md

nav:
  - "index.md"
  - "preparation.md"
  - "drag-and-drop-archive.md"
  - Downgrading:
    - "downgrading/index.md"
    - "downgrading/downgrading-the-radio.md"
    - "downgrading/downgrading-the-game.md"
  - "optimization.md"
  - "additional-setup.md"
  - Essential Modding:
    - "essential-modding/index.md"
    - "essential-modding/fusionfix.md"
    - "essential-modding/zolikapatch.md"
    - "essential-modding/various-fixes.md"
    - "essential-modding/additional-fixes.md"
  - "enhancements.md"
  - Extras:
    - "extras/index.md"
    - "extras/multiplayer.md"
    - "extras/trainers.md"
    - "extras/launcher.md"
    - "extras/modloading.md"
    - "extras/mods.md"
  - Resources:
    - "resources/mod-dependencies.md"
    - "resources/openiv.md"
    - "resources/troubleshooting.md"
    - "resources/credits.md"

extra:
  social:
    - icon: fontawesome/brands/discord
      link: https://discord.gg/zwmsQqExbQ
      name: My Discord server
  analytics:
    provider: google
    property: G-RSQFR3F839
  consent:
    title: Cookie consent
    description: >-
      This site uses cookies for Google Analytics,
      which are used to recognize your repeated visits and preferences.
      This site also uses Google AdSense for personalized ads.
      They are not mandatory and you can disable it if you wish so.
