on:
  release:
    types: [published]

jobs:
  github-releases-to-discord:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Github Releases To Discord
        uses: SethCohen/github-releases-to-discord@v1.13.0
        with:
          webhook_url: ${{ secrets.WEBHOOK_URL }}
          color: "2105893"
          username: "Guide & Archive Updates"
          avatar_url: "https://github.com/gillian-guide/gillian-guide.github.io/blob/main/docs/assets/iv-logo-favicon.png?raw=true"
          reduce_headings: true
